
# Some variables
SCREEN=$(tty|sed s/\\\/dev\\\/...\\\///)
HOSTN=$(hostname -f|hostname -f | cut -d '.' -f 1-2)
UPTIME=$(uptime | sed -e "s/up/`date +%z` up/")

# Set colours for bash prompt_command
SYSTEM_COLOR=10485760
DEFAULT_COLOR=9241245

# Set values for groups
#GROUP_ADM_PS1=
#GROUP_ADM_PROMPT_BASH=
#GROUP_ADM_PROMPT_KONSOLE=

# Set values for users
# - Root
USER_ROOT_PS1='\[\033[01;41m\]\[\033[01;37m\][\u@\h:$SCREEN \w]#\[\033[00m\] '
USER_ROOT_PROMPT_BASH=
USER_ROOT_PROMPT_KONSOLE=

# Set default values
DEFAULT_PS1='[\u@$HOSTN:\w]\$ '
# Nice look command prompt
#DEFAULT_PS1='\[\033[01;31m\]\u\[\033[01;33m\]@\[\033[01;36m\]\h \[\033[01;33m\]\w\[\033[01;35m\]\$ \[\033[00m\]'
DEFAULT_PROMPT_BASH='\033]0;${UPTIME}\007'
DEFAULT_PROMPT_KONSOLE='\e]30;${USER}@${HOSTN}\a\e[28;${COLOR}t'

# Examples
#
#USER_OLIVER_PS1='[\[\033[01;34m\]\u\[\033[00m\]@\[\033[00;34m\]$HOSTN\[\033[00m\]:$SCREEN \[\033[01;34m\]\w\[\033[00m\]]$ '
#USER_OLIVER_PROMPT_BASH='\033]0;${HOSTN}: ${UPTIME}\007'
#USER_OLIVER_PROMPT_KONSOLE='\e]30;${USER}@${HOSTN}\a\e[28;${COLOR}t'
#
#USER_ADMIN_PS1='[\[\033[02;31m\]\u\[\033[00m\]@\[\033[00;34m\]\h\[\033[00m\]:$SCREEN \[\033[01;34m\]\w\[\033[00m\]]$ '
